# Dependencies
node_modules

# Build / cache
dist
.next
.turbo
*.tsbuildinfo

# Env (do not commit secrets)
.env
.env.*.local
.env.local

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env*.local
